<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles%}
    <meta charset="UTF-8">
    <title>UserBooking</title>
     <style>
        body{
           background-image: url("{% static 'images/background image.png' %}");
        }
    </style>
</head>
<body>
<h1 align="center">AKBAR'S HOTEL</h1>
<marquee>
    <font size="3" face="Algerian" style="background: yellowgreen">The only purpose of ‘customer service’… is to change feelings.</font>
</marquee>
<table align="center" border="2">
    <tr><th width="120" bgcolor="#9acd32"><a href="/openUserHomePage/?type=home&name={{ name }}">HOME</a></th>
        <th width="120" bgcolor="#9acd32"><a href="/openBookingPage/?type=booking&name={{ name }}">BOOKING</a> </th>
        <th width="120" bgcolor="#9acd32"><a href="/openPaymentPage/?type=payment">PAYMENT</a> </th>
        <th width="120" bgcolor="#9acd32"><a href="/displayPage/?type=display">DISPLAY</a> </th>
        <th width="120" bgcolor="#9acd32"><a href="/openBookingPage/?type=cancel">CANCEL</a> </th>
         <th width="120" bgcolor="#9acd32"><a href="/openUserLogin/?type=h_user">LOGOUT</a></th>



    </tr>
</table>
<div>
    <h1 align="center">HAI WELCOME  {{ name.fname }}{{ name.lname }}</h1>
    <h1 align="center" >Welcome To Hotel AKBAR</h1>
</div>
    {% if type == "home" %}
    {% endif %}
    {% if type == "booking" %}
        <form action="/openPaymentPage/?type=payment" method="post">
        {% csrf_token %}
         <table align="center">
                <tr><td align="center"><h2>Check Here For Rooms Booking:</h2></td></tr>
                <tr><th>Select Rooms:<select name="room_type">
                    {% for rec in qs %}
                        <option value= {{ rec.room_type }} > {{ rec.room_type }}</option>
                        {% endfor %}
                </select>
                </th></tr>
                <tr><th>CHECK-IN:<input id="date" type="date" value="yyyy-mm-dd" required></th></tr>
                <tr><th>CHECK-OUT:<input id="date" type="date" value="yyyy-mm-dd" required></th></tr>
                <tr><th><input type="submit" value="BOOK"></th></tr>
         </table>
        </form>
    {% endif %}
    {% if type == "cancel" %}
        <form action="/openCancelPage/" method="post">
        {% csrf_token %}
        <table align="center">
                    <tr><th><h2><font color="blue">{{ message }}</font></h2></th></tr>
                    <tr><h2 align="Center">Cancel</h2></tr>

                <tr><th>UserName:</th><td><input type="text" placeholder="UserName" required name="u_uname"></td></tr>
                <tr><th>RoomNo:</th><td><input type="text" placeholder="RoomNo" required name="u_roomno"></td></tr>
                <tr><th>Cust_Id:</th><td><input type="text" placeholder="Cust_Id" required name="u_cust"></td></tr>
                <tr><td align="center"><input type="submit" value="Cancel"></td></tr></table>
        </form>
    {% endif %}
    {% if type == "payment" %}
   <form action="/openPaymentPage/" method="post">
        {% csrf_token %}
       <table align="center">
           <tr><td>AVAILABLE ROOMS:<select name="total_rooms">
               {% for rec in qs %}
                   <option value={{ rec.total_rooms }}>{{ rec.total_rooms }}</option>
               {% endfor %}
           </select></td></tr>
           <tr><td>Total Rooms Booking:<input type="number" placeholder="TotalRooms" required name="number"> </td></tr>
           <tr><th>CARD NUMBER:<input type="number" placeholder="cardno" required name="cardno"></th></tr>
           <tr><td>CARD TYPE:<select type></select></td></tr>
           <tr><td align="center"><input type="button" value="OK"></td></tr>
       </table>
    </form>
{% endif %}
    {% if type == "display" %}
        <form action="/displayPage/" method="post">
        {% csrf_token %}
       <table align="center">
           <tr><td>AVAILABLE ROOMS:<select name="total_rooms">
               {% for rec in qs %}
                   <option value={{ rec.total_rooms }}>{{ rec.total_rooms }}</option>
               {% endfor %}
           </select></td></tr>
           <tr><td>Total Rooms Booking:<input type="number" placeholder="TotalRooms" required name="number"> </td></tr>
           <tr><th>CARD NUMBER:<input type="number" placeholder="cardno" required name="cardno"></th></tr>
           <tr><td>CARD TYPE:<select type></select></td></tr>
           <tr><td align="center"><input type="button" value="OK"></td></tr>
       </table>
        </form>
    {% endif %}


</body>
</html>